<!DOCTYPE html>
<html lang="sk-SK" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
<head>
	<title>{ifset #title}{include title|striptags} | {/ifset}{$siteTitle}</title>
	<meta n:if="$siteDescription" name="description" content="{$siteDescription}">
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <script type='text/javascript' src='{$basePath}/layouts/ujszo/js/jquery-1.11.2.js'></script>

	<link rel="stylesheet" href="{$basePath}/layouts/ujszo/css/bootstrap.min.css">
	<link rel="stylesheet" href="{$basePath}/layouts/ujszo/css/layout.css">
	<link rel="stylesheet" href="{$basePath}/layouts/ujszo/js/jquery-ui.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

		<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto:wght@400;700&family=Roboto+Slab:wght@700&display=swap" rel="stylesheet" type="text/css" />

	<script src="{$basePath}/layouts/ujszo/js/bootstrap.min.js"></script>
    <script src="{$basePath}/layouts/ujszo/js/netteForms.js"></script>

    {ifset $headerCode}{$headerCode|noescape}{/ifset}

	{block head}{/block}
</head>
{var $current = $presenter->name . ":" .$presenter->action}
{var $forms = ['Users:Users:requestPassword', 'Users:Users:resetPassword', 'Users:Sign:in', 'Users:Users:changePassword']}
{php $addWrapper = in_array($current, $forms)}
{php $classname = preg_replace('/\:/','-', strtolower($current))}
{php $classname2 = preg_replace('/-.*$/','', $classname) . '-page'}
{var $url = $presenter->applicationConfig->get('site_url')}
<body class="{$classname2} {$classname} {if $addWrapper}users-page{/if}">

	<script> document.documentElement.className+=' js' </script>
	<header class="remp-header">
		<div class="page-header-logo-holder">
			<div class="container">
				<div class="row">
					{if $addWrapper}
						<div class="col-md-8 col-md-offset-2 text-center">
					{/if}
							<a href="{$url}"><img src="/layouts/ujszo/images/ujszo-logo--desktop--inverse.png" alt="ujszo-logo" title="Ujszo"/></a>
					{if $addWrapper}
						</div>
					{/if}
					<br/>
					{if $user->isLoggedIn()}
						{if $user->getIdentity()->role === \Crm\UsersModule\Repository\UsersRepository::ROLE_ADMIN}
							<a href="{link :Dashboard:Dashboard:}">ADMIN</a>
						{/if}
						<a class="btn btn-primary" href="{link :SalesFunnel:SalesFunnelFrontend:Show}?funnel=elofizetes">{_system.buy_subscription}</a>
					{else}
					{/if}
				</div>
			</div>
		</div>
	</header>

	<div class="container">
		<div class="row">
				{if $user->isLoggedIn()}
					{control frontendMenu}
				{/if}
		</div>

		<div class="row">
			{control simpleWidget 'frontend.layout.top'}

			{foreach $flashes as $flash}
				{if $flash->type == 'info'}
					<div class="alert alert-success">
						<strong>{_system.message.success|noescape}</strong> {$flash->message|noescape}
					</div>
				{elseif $flash->type == 'error'}
					<div class="alert alert-danger">
						<strong>{_system.message.error|noescape}</strong> {$flash->message|noescape}
					</div>
				{else}
					<div class="alert alert-warning">
						<strong>{_system.message.warning|noescape}</strong> {$flash->message|noescape}
					</div>
				{/if}
			{/foreach}
		</div>

		<div class="row">
			{if $addWrapper}
				<div class="remp-form-container">
					<div class="col-md-4 col-md-offset-4 form-container-inner">
			{/if}
				{include content}
			{if $addWrapper}
					</div>
				</div>
			{/if}
		</div>
	</div>

  {if $user->isLoggedIn()}
    {include 'iframes.latte'}
  {/if}

	{block scripts}{/block}
</body>
</html>
