<!DOCTYPE html>
<html lang="sk-SK" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
<head>
	<title>{ifset #title}{include title|striptags} | {/ifset}{$siteTitle}</title>
	<meta n:if="$siteDescription" name="description" content="{$siteDescription}">
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <script type='text/javascript' src='{$basePath}/layouts/ujszo/js/jquery-1.11.2.js'></script>

	<link rel="stylesheet" href="{$basePath}/layouts/ujszo/css/bootstrap.min.css">
	<link rel="stylesheet" href="{$basePath}/layouts/ujszo/css/layout.css">
	<link rel="stylesheet" href="{$basePath}/layouts/ujszo/js/jquery-ui.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

		<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto:wght@400;700&family=Roboto+Slab:wght@700&display=swap" rel="stylesheet" type="text/css" />

	<script src="{$basePath}/layouts/ujszo/js/bootstrap.min.js"></script>
    <script src="{$basePath}/layouts/ujszo/js/netteForms.js"></script>

    {ifset $headerCode}{$headerCode|noescape}{/ifset}

	{block head}{/block}
</head>
<body>
  <header class="remp-header text-center">
		<div class="page-header-logo-holder">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<img src="/layouts/ujszo/images/ujszo-logo--desktop--inverse.png" alt="ujszo-logo" title="Ujszo"/>
					</div>
				</div>
			</div>
		</div>
		<div class="page-header-text-holder">
			<div class="container">

				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<h1>{ifset #title}{include title|striptags}{/ifset}</h1>
						{ifset #list}{include list}{/ifset}
					</div>
				</div>
			</div>
		</div>
	</header>
	{include content}
</body>
</html>