services:
	- Crm\UjszoBlogModule\Components\ArticleCount
	- Crm\UjszoBlogModule\Components\UserKarmaPoints

	moduleManager:
		setup:
			- addModule(Crm\UjszoBlogModule\UjszoBlogModule(),2000)

	filterLoader:
		# class: Crm\ApplicationModule\Helpers\FilterLoader
		setup:
			- register('articleState', [Crm\UjszoBlogModule\Helpers\ArticleState(), process])
			- register('ujszoUserDate', [Crm\UjszoBlogModule\Helpers\UserDateHelper(), process])

