
services:
	- Crm\UjszoUsersModule\Events\UserCreatedEventHandler
	- Crm\UjszoUsersModule\Events\UserUpdatedEventHandler

	drupalUserRepository:
	 	class: Crm\UjszoUsersModule\Repository\DrupalUserRepository

	moduleManager:
		setup:
			- addModule(Crm\UjszoUsersModule\UjszoUsersModule(),200)
