{block #highlight}

<div class="page-header-text-holder">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1>
        Üdvözöljük az ujszo.com új világában!
        </h1>
        <p>
          A legjobb cikkeinket csak előfizetéssel tudja megnézni, ám jelenleg lehetősége van <strong><br>5 lezát cikket ingyen elolvasni.</strong> <br>Ha elfogyott az 5 cikke és tovább szeretne olvasni, rendeljen meg egy előfizetési csomagot.
        </p>
        <p class="text-border-top">
          Az <strong>Új Szó</strong> cikkeit már havi <strong>1,99 €</strong>-tól<br>
          A <strong>Vasárnap</strong> cikkeit már havi <strong>1,99 €</strong>-tól<br>
          <strong>Mindkét lap</strong> cikkeit közös online előfizetéssel már <strong>2,99 €</strong>-tól olvashatja.
        </p>
      </div>
    </div>
  </div>
</div>

{/block}


{block #content}

<h1 n:block=title>{_users.frontend.sign_up.title}</h1>

{form signUpForm, class=>'form-horizontal'}
  <div class="alert alert-danger" n:if="$form->hasErrors()">
    <p n:foreach="$form->errors as $error">{$error|noescape}</p>
  </div>

  <div>
    <div class="form-group {if $form[username]->required}required{/if} {if $form['username']->error}has-error{/if}">
      <div class="col-sm-12">
        {input username, class=>'form-control'}
      </div>
    </div>
    <div class="form-group {if $form[password]->required}required{/if} {if $form['password']->error}has-error{/if}">
      <div class="col-sm-12">
        {input password, class=>'form-control'}
      </div>
    </div>

    <div class="form-group {if $form[password_confirm]->required}required{/if} {if $form['password_confirm']->error}has-error{/if}">
      <div class="col-sm-12">
        {input password_confirm, class=>'form-control'}
      </div>
    </div>

    <div class="form-group {if $form[toc]->required}required{/if} {if $form['toc']->error}has-error{/if}">
      <div class="col-sm-12">
        <div class="checkbox">
          <label n:name="toc">
            {input toc:}
            {$form[toc]->caption}
          </label>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-12">
        {input send, class=>'btn btn-primary button'}
        <a href="{plink ':Users:Sign:In'}" class="btn btn-primary button sign-in-button">Már van fiókom, belépek</a>
      </div>
    </div>
  </div>

{/form}

{control snippet 'sing-up-bottom'}

