services:
	- Crm\UjszoModule\Events\UserCreatedEventHandler
	- Crm\UjszoModule\Events\SubscriptionEventHandler
	- Crm\UjszoModule\Events\UserChangePasswordEventHandler
	- Crm\UjszoModule\Events\UserChangePasswordRequestEventHandler
	- Crm\UjszoModule\Authenticator\ContentAuthenticator
	- Crm\UjszoModule\Commands\EndingSubscriptionsCommand
	- Crm\UjszoModule\Seeders\PaymentGatewaysSeeder
	- Crm\UjszoModule\Gateways\Paypal
	moduleManager:
		setup:
			- addModule(Crm\UjszoModule\UjszoModule())
