services:
	- Crm\UjszoModule\Events\UserCreatedEventHandler
	- Crm\UjszoModule\Events\SubscriptionEventHandler
	- Crm\UjszoModule\Events\UserChangePasswordEventHandler
	- Crm\UjszoModule\Events\UserSetPasswordEventHandler
	- Crm\UjszoModule\Events\UserChangePasswordRequestEventHandler
	- Crm\UjszoModule\Events\PaymentChangeStatusEventHandler
	- Crm\UjszoModule\Events\NotificationEventHandler
	- Crm\UjszoModule\Events\InvoiceCreatedEventHandler
	- Crm\UjszoModule\Authenticator\ContentAuthenticator
	- Crm\UjszoModule\Commands\EndingSubscriptionsCommand
	- Crm\UjszoModule\Seeders\PaymentGatewaysSeeder
	- Crm\UjszoModule\Seeders\ConfigsSeeder
	- Crm\UjszoModule\Seeders\ContentAccessSeeder
	- Crm\UjszoModule\Gateways\Paypal
	- Crm\UjszoModule\Forms\SetPasswordFormFactory
	moduleManager:
		setup:
			- addModule(Crm\UjszoModule\UjszoModule())
