menu:
	dashboard: Blogbejegyzéseim

states:
	draft: Piszkozat
	to_moderation: Jóváhagyásra vár
	published: Publikus
	archived: Arhivált

list:
	title: Blogbejegyzéseim
	articleTitle: Blog címe
	status: Státusz
	created: Létrehozás dátuma
	edit:	Szerkesztés
	delete: Törlés
	empty: Még nem hoztál létre blogbejegyzést.

articlecount:
	articles: blogbejegyzés
	karma_points: pont
	total_karma_points: Összes karma