menu:
	sales_funnels: Értékesítési Csatorna

data:
	sales_funnels:
		fields:
			name: Név
			url_key: Url kulcs
			is_active: Aktív
			is_inactive: Inaktív
			redirect_funnel_id: Átirányítás
			segment_id: Szegmens
			start_at: Érvéntesség kezdete
			end_at: Érvéntesség vége
			body: Csatorna HTML tartalma
			no_access_html: Csatorna nincs jogosultság html
			error_html: Csatorna hiba oldal html
			head: HTML fejléc
			created_at: Létrehozva
			payment_gateway: Fizetési átjárók
			subscription_type: Előfizetés típusa
			total_show: Összes megjelenités
			total_conversions: Összes konverzió
			total_paid_amount: Összes fizetett összeg
			total_errors: Összes hiba
			last_use: Utoljára használva
			last_conversion: Utolsó konverzió
			only_logged: Only logged
			only_not_logged: Only not logged
			segment: Szegmens
		placeholder:
			name: pl. Main funnel
			url_key: pl. 'winter-sale'
			redirect_funnel_id: pl. 'default'
			start_at: pl. 14.2.2016
			end_at: pl. 14.2.2016
			body: any html
		description:
			redirect_funnel_id: "Ha ki van töltve, a felhasználó át lesz irányítva erre a csatornára ahelyett, hogy megjelenne a 'ajánlat nem érhető el' szöveg."

frontend:
	error:
		title: Hiba
	inactive:
		title: Inaktív
	invalid:
		title: Érvénytelen
	no_access:
		title: Nincs hozzáférés
	sign_in:
		title: Ehhez a művelethez be kell jelentkezni
	success_page:
		title: Köszönjük!
		payment_success: Fizetés sikeres.
		zlavomat_success: Zlavomat coupon was applied. Your order was successful.
		pass_sent: "E-mailben elküldtük a jelszót erre a címre: %email%."
		foreign_country: "For delivery to foreign countries please contact as  <a href=\"mailto:%contactEmail%\">%contactEmail%</a>"
		complete_registration: Vissza a cikkhez
		complete_registration_info: "Ha minden információt kitöltött,<br>folytassa ahol abbahagyta."
	success:
		title: "Köszönjük, hogy regisztráltál"
		description: "A megadott e-mail címre küldtünk egy regisztrációt megerősítő levelet. Kérjük nyissa meg és járjon el a levélben megadott instrukciók szerint."
		return: "Vissza a cikkre"
	error_page:
		title: Hiba
		message: Fizetés sikertelen.
		reason_default: "Kérjük próbálja később vagy vegye fel a kapcsolatot velünk."
	cancel_page:
		title: Fizetés visszavonva
		message: "Fizetés visszavonva. Bezárhatja ezt az ablakot vagy térjen vissza az előfizetés ajánlathoz."
		reason_default: "Vissza az ajánlathoz."
	not_settled_page:
		title: Fizetés nincs rendezve
		message: "Payment was executed during technical break of bank operating the payment gateway and system cannot confirm the status of payment. Payment will be confirmed as soon as the bank notifies the system."
	invalid_email:
		title: Hibás e-mail cím lett megadva
	invalid_credentials:
		title: Nem sikerült bejelentkezni a megadott adatokkal
	disabled_auto_login:
		title: Automatikus bejelentkezés nem engedélyezett Admin felhasználóknak

admin:
	sales_funnels:
		default:
			title: Értékesítési csatorna
			new: Új értékesítési csatorna
		edit:
			title: Értékesítési csatorna szerkesztése
			back: vissza az értékesítési csatornához
		show:
			back: vissza az értékesítési csatornához
			edit: Szerkesztés
			preview: Megjelenités
			basic_informations: Általános információk
			stats: Csatorna statisztikák
			users: Felhasználók
			meta: Meta adatok
			last_payments: Legutóbbi fizetések
			no_payment_gateway_message: Nincs fizetési átjáró
			add_payment_gateway: Fizetési átjáró hozzáadása
			no_subscription_type_message: Nincs előfizetés típus
			add_subscription_type: Előfizetés típus hozzáadása
			graph_show_stats:
				title: Értékesítési csatorna megjelenitési statisztikák
				help: Megjelenitési statisztikák
			graph_funnel_stats:
				title: Értékesítési csatorna statisztikák
				help: Minden értékesítési csatorna megjelenitési statisztikák
			graph_conversion_rate_stats:
				title: Értékesítési csatorna konverziós ráta eszközönként
				help: Rate is computed as ratio of finished payments and total number of sales funnel shows * 100
			distribution:
				label: Részletezés
				amounts: How much paid before buying via this sales funnel
				payments: How many payments made before buying via this sales funnel
				subscriptions: "Days since ending of last subscription (pre-payment)"
				hadNever: Never had subscription
				hadActive: Had active subscription
		preview:
			back: vissza az értékesítési csatornához
			header: Előnézet
		new:
			title: Új értékesítési csatorna
			back: vissza az értékesítési csatornákhoz
		messages:
			sales_funnel_not_found: Ismeretlen csatorna
			funnel_created: Csatorna sikeresen létrehozva
			funnel_updated: Csatorna sikeresen frissítve
		window_preview:
			logged_user: Logged user
			unlogged_user: Unlogged user
	distribution:
		email: E-mail cím
		source: Forrás
		status: Állapot
		created_at: Létrehozva
		back_to_funnel: vissza a csatornához

	component:
		subscriptions_graph:
			title: Vásárolt tételek
			help: Vásárolt tételek száma csatornához tartozó fizetések alapján
		sales_funnel_user_listing_widget:
			funnel: Csatorna
		sales_funnel_stats_by_device:
			all_devices: Minden eszköz

# components
subscription_types_in_sales_funnels:
	header: Elérhető az értékesítési csatornában
	no_sales_funnels_message: Ez az előfizetés típus nincs használva egyetlen értékesítési csatornában sem

config:
	category: Értékesítési csatornák
	default_sales_funnel_url_key:
		name: Általános értékesítési csatorna
		description: "URL a kiválasztott csatornához (pl. default)"
