menu:
  profile: Profilom
form:
  name_or_nickname:
    label: Teljes név vagy álnév
    required: Teljes név vagy álnév kötelező
  email:
    label: E-mail cím
    required: E-mail cím kötelező
  short_description:
    label: "Két mondat magadról (rövid bio)"
  bio:
    label: "Több mondat magadról (hosszú bio)"
  profile_image:
    change: Profil kép módosítás
    upload: Profil kép feltöltés
    file_extension: Fájl kiterjesztés nem engedélyezett
    file_size:  Fájl mérete túl nagy
  success: Sikeresen elmentetted a profilod
  submit: Mentés
