menu:
  profile: Profilom
form:
  name_or_nickname:
    label: Teljes név vagy Becenév
    required: Teljes név vagy Becenév is required
  email:
    label: Email cím
    required: Email cím kötelező
  short_description:
    label: Rövid leírás
  bio:
    label: Biográfia
  profile_image:
    change: Profil kép módosítás
    upload: Profil kép feltöltés
    file_extension: Fájl kiterjesztés nem engedélyezett
    file_size:  Fájl mérete túl nagy
  submit: Mentés
